.register {
    max-width: 360px !important;
    margin-top: 120px;
}
.password-group {
    position: relative;
}
.password-eye {
    position: absolute;
    right: 15px;
    top: 45px;
    z-index: 1000;
    cursor: pointer;
}